<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="logback-core.xml" />
	<springProperty name="LOG_PATH" source="logging.path" defaultValue="/apps/OpsERA/logs/components/git-gateway-service" />
    <springProperty name="LOG_FILE" source="logging.file" defaultValue="gitgatewayservice" />
</configuration>